<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- CSS only -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">-->
    <!-- JavaScript Bundle with Popper -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>-->

</head>
<body>


    @*<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:bisque;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
                <div class="navbar-collapse collapse id="navbarNavAltMarkup"">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Admins", "Index", "AdminTables")</li>
                        <li>@Html.ActionLink("Services", "Index", "ServicesTables")</li>
                        <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    </ul>
                </div>
        </div>
       
    </nav>*@
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:bisque;">
            <div class="container-fluid">

                    @Html.ActionLink("The New Paradise", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Admins", "Index", "AdminTables")</li>
                        <li>@Html.ActionLink("Services", "Index", "ServicesTables")</li>
                        <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
